version: '3.8'
services:
  app:
    container_name: c-laravel-app
    build:
      context: ./app
      dockerfile: ./Dockerfile
    restart: unless-stopped
    env_file:
      - ./volumes/apps/.env
    depends_on:
      - mysql
      - redis
    networks:
      - internal_net
    
  nginx:
    image: nginx:alpine
    container_name: c-laravel-nginx
    restart: unless-stopped
    ports:
      - 80:80
    volumes:
      - ./:/var/www
      - ./volumes/nginx:/etc/nginx/conf.d/
    networks:
      - internal_net
    depends_on:
      - app

  redis:
    image: redis:latest
    container_name: c-laravel-redis
    restart: always
    ports:
      - 6379:6379
    volumes:
      - ./volumes/redis/data:/data
    networks:
      - internal_net

  mysql:
    container_name: c-laravel-mysql
    image: mysql:latest
    ports:
      - '3306:3306' # Expose the database on port 3306 (adjust if needed)
    command: --default-authentication-plugin=mysql_native_password
    restart: unless-stopped
    volumes:
      - ./volumes/mysql/data:/data
    env_file:
      - ./volumes/mysql/.env
    networks:
      - internal_net

networks:
  internal_net:
    driver: bridge